*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;    
}

.boton-cerrar-sesion{
    display: block;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 60px;
    background-image: linear-gradient(45deg,#00B4DB,#0083B0);
    border: 2px solid #fff;
    width: 90px;
    height: 35px;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
}

.boton-cerrar-sesion:hover{
    background-image: linear-gradient(45deg,#0083B0,#00B4DB);
    color: #fff;
}